@{
    ViewBag.Title = "Delete Book";
}

<h2>Delete Movie</h2>
<div class="col-md-12" ng-controller="BookController" ng-init="getBook()">
    <div class="col-md-6">Id</div>
    <div class="col-md-6">{{Book.Id}}</div>
    <div class="col-md-6">Title</div>
    <div class="col-md-6">{{Book.Title}}</div>
    <div class="col-md-6">Pages</div>
    <div class="col-md-6">{{Book.Pages}}</div>
    <div class="col-md-6">Publishing House</div>
    <div class="col-md-6">{{Book.PublishingHouse}}</div>
    <div class="col-md-6">Publication Year</div>
    <div class="col-md-6">{{Book.PublicationYear}}</div>
    <div class="col-md-6">Image</div>
    <div class="col-md-6">{{Book.Image}}</div>

    <div style="margin-top:20px"></div>
    <input type="button" value="Delete Book" ng-click="deleteBook()" />
</div>
<div class="alert alert-danger" ng-if="error != null">
    <strong>Danger!</strong> {{error}}
</div>